#button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  button {
    border: none;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px 2px;
    transform:scale(0.9);
    cursor: pointer;
    border-radius: 4px;
  }
  
  #btn_News {
    background-color: #4CAF50;
  }
  #btn_News:hover {
    background-color: #3e8e41;
  }
  
  #btn_Connect {
    background-color: #008CBA;
  }
  
  #btn_Settings {
    background-color: #f44336;
  }
  #btn_Settings:hover {
    background-color: #da190b;
  } 


#container {
  margin-bottom: 15px;
}
  
#news-feed {
  max-height: 500px;
  padding: 10px;
}

.link-container {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #d1cfcf;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 5px;
  line-height: 1.5;
}

.link-container img{
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 10px;
  object-fit: cover;
}
.link-text {
  flex: 1;
}
.link-text h3 {
  margin-top: 0;
  cursor: pointer;
}

#txt_APIKey {
  width: 80%;
  padding: 10px 8px;
  margin: 3px 0;
  box-sizing: border-box;
  display: inline-block;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

#btn_SaveAPIKey {
  border: none;
  color: white;
  padding: 12px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 2px;
  cursor: pointer;
  border-radius: 4px;
}


#author
{    
    position: fixed;
    bottom: 0;
    right: 0;
    margin-top: 100px;
    font-size: 12px;
    color: #888;
}